<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <title>Repeat Counter</title>
</head>
<body>
    <div class="container">
        <h1>Count repeated words! Wow.</h1>
    </div>
</body>
</html>
