<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <title></title>
</head>
<body>
    <div class="container">
        <h1>Successful count! Stellar.</h1>
        <h4>We have counted your words and the result is...</h4>
        <h4>{{ the_count }}</h4>
        <p>Your phrase: {{ the_string }}</p>
        <p>Your search: {{ the_query }}</p>
    </div>
</body>
</html>
